

:root {
  --text: #e0f0ea;
  --past: #574f7d;
  --future: #95adbe;
  --present: #503a65;
  --background: #3c2a4d;
  --sacramento: 'Sacramento', cursive;
  --raleway: 'Raleway', sans-serif;
  --delius:'Delius', cursive;
}

body {
  font-size: 16px;
  background-color: var(--background);
}
h1 {
  font-family: var(--sacramento);
  color: var(--text);
}

p {
  font-family: var(--raleway);
  color: var(--text);
}


textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--text);
  border-left: 1px solid black;
  padding: 10px;
  font-family: 'Delius', cursive;
  font-size: 20px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  font-family: var(--raleway);
}

.row {
  border-top: 1px solid ;
  color: var(--background);
}

.hour {
  background-color: var(--);
  color: var(--text);
  /* border-top: 1px dashed #000000; */
}

.past {
  color: var(--text);
  background-color: var(--past);
}

.present {
  background-color: var(--present);
  color: var(--text);
}

.past {
  background-color: var(--past);
  color: --text;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--future);
  color: var(--text);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
